.navbar-brand img {
    width: 210px;
}

.navbar-findmybass {
    background-color: #00ffec14;
}

a.nav-link {
    color: black;
    font-weight: 600;
}

a.nav-link:hover, a.nav-link.active {
    color: #b65728;
}

.loginout {
    margin-right: 8px;
    color: #b65728;
    background-color: transparent;
    background-image: none;
    border-color: #b65728;
}

a.loginout:hover {
    color:white;
    background-color: #b65728;
}

.bass-search-field {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show-proposals {
    display: block;
}



.dropdown:hover .bass-search-field,
.bass-search-field:focus{
    background-color: #F2F2F2;
}