{% extends 'base.html.twig' %}

{% block title %}
    Add a new bass
{% endblock %}

{% block body %}
    <h2>Add a new bass</h2>

    <hr />

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block addbass_active %}active{% endblock %}
